---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.header {
  background-color: #336666;
  margin-top: 4%;
  height: 90px;
}

.btn-social-icon {
  float: right !important;
  color: #336666;
  background-color: white;
  margin: 2px;
  margin-top: 30px;
  padding: 1px 6px !important;
  font-size: 18px !important;
}

.header-icon {
  width: 100px;
}

.footer {
  background-color: #336666;
  height: 160px;
}

.footer-content {
  color: white;
  margin-top: 30px !important;
}

.footer-nav a {
  color: white;
  padding: 0px !important;
}

.footer-nav a:focus, a:hover {
  color: white !important;
  text-decoration: underline !important;
  background-color: transparent !important;
}

.nav.navbar-nav {
  width: 100%;
  margin-top: 20px;
}

.navbar-nav li {
  float: none;
  text-align: center;
  background-color: white;
  color: #333;
  padding: 5px !important;
}

.navbar-nav li a {
  float: none;
  text-align: center;
  background-color: white;
  color: #333;
}

.navbar-nav li a:focus, a:hover {
  background-color: #CDEDF7 !important;
  color: #333 !important;
  text-decoration: none !important;
}

nav {
  padding: 0px !important;
}
