---
layout: default
---

<section id='home' class='slide'>
  <div class='container clearfix'>
    {% include slide.html slide=0 %}
    <div class='home-img'></div>
    <div class='responsive'>
      <div><img src='/images/1.jpg'></img></div>
      <div><img src='/images/2.jpg'></img></div>
      <div><img src='/images/3.jpg'></img></div>
      <div><img src='/images/4.jpg'></img></div>
      <div><img src='/images/5.jpg'></img></div>
      <div><img src='/images/6.jpg'></img></div>
      <div><img src='/images/7.jpg'></img></div>
    </div>
    <h2>
      <p>
        Сучасній людині просто необхідні комфортні і затишні умови для
        проживання. У зв'язку з цим важливо виконати якісний ремонт квартири.
      </p>
      <p>
        Дана процедура часто у багатьох викликає жах, тому що пов'язана з
        витратою значної кількості часу, нервів і сил. Саме тому, звернувшись
        до нас, Ви зробили правильний вибір.
      </p>
      <p>
        Місія нашої компанії полягає в чесному, прозорому, швидкому,
        якісному веденні проектів з контролем і технічним наглядом на всіх
        стадіях. Для цього ми маємо достатній досвід і можливості
        обслуговування об'єктів різних напрямків.
      </p>
      <p>
        Ми завжди уважно прислухаємося до думки наших клієнтів і враховуємо їх
        побажання. Бездоганна якість ремонту – основа нашої роботи.
      </p>
    </h2>
  </div>
</section>

{% include spliter.html slide="#home" %}

<section id='reviews' class='slide'>
  <div class='container clearfix'>
    {% include slide.html slide=1 %}
    <div class='grid_3'>
      <div class="rating">
        <label>★★★★★</label>
      </div>
    </div>
    <div class='grid_9 omega'>
      <h4>
        <p>Рекомендую. В свій час коли я шукав підрядчика у мене було три критерії: юридичне оформлення, середні ціни і досвід. Новий Рівень задоволняв всі критерії і почали робити ремонт. Буквально через місяць стало очевидно, що з вибором я не помилився (а досвід я вже то маю з недобросовісними підрядчиками).</p>
        <p>Великим плюсом є наявність двох прорабів в компанії. Дуже ризиковано коли все залежить від однієї людини.</p>
        <p>Приємно спілкуватися з Михайлом. Незалежно від теми розмова завжди коротка і конструктивна.</p>
        <p>Дуже вразило відношення Віталія до дрібниць. І це дуже позитивний знак, оскільки більшість підрядчиків покладаються лише на ефект "Вау" коли клієнт заходе в готову квартиру і не дуже хвилюються, що з часом всі дрібні косяки починають псувати враження від ремонту.</p>
        <p>
          Ще один важливий момент. Більшість підрядчиків, так як впринципі і людей, не схильні визнавати власних помилок. Це завжди переростає в конфлікт, недовіру і натягнуті відносини. Зло бере коли замовив дивана, а оббивка відрізняється від теї яку замовляв, а тим часом виконавці намагаються тебе переконати, що так і має бути.
          </br>
          Так от з хлопцями з Нового Рівня такого не було. Точніше косяки були (без них не буває), але хлопці відразу про то повідомляли і самі вже пропонували варіанти вирішення проблеми. Для мене це свідчення якості надання послуг.
        </p>

      </h4>
    </div>
    <div class='grid_8'></div>
    <div class='grid_4 omega'>
      <h3>
        Корпань Євгеній
      </h3>
      Генеральний директор ТОВ "Ектів Брідж"
    </div>
  </div>
</section>

{% include spliter.html slide="#reviews" %}

<section id='contacts' class='slide'>
  <div class='container clearfix'>
    {% include slide.html slide=2 %}
    <div class='grid_3'>
      <img src='/images/shuvik.png'>
      <h3 class='caption'>
        Шуваєв Віталій
        <br>
        +38 (067) 474 8810
        <br>
        shuvaev.vitaliy@gmail.com
      </h4>
    </div>
    <div class='grid_9 omega'>
      <h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
        vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus,
        ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique,
        tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec
        mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit
        odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus
        aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo
        hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet.
        Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra.
        Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
      </h4>
    </div>

    <div class='grid_9'>
      <h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
        vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus,
        ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique,
        tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec
        mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit
        odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus
        aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo
        hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet.
        Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra.
        Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.
      </h4>
    </div>
    <div class='grid_3 omega'>
      <img src='/images/miha.png'>
      <h3 class='caption'>
        Мисан Михайло
        <br>
        +38 (098) 463 4306
        <br>
        misan.m@ukr.net
      </h4>
    </div>
  </div>
</section>

{% include spliter.html slide="#contacts" %}

<section id='contactus' class='slide'>
  <div class='container clearfix'>
    {% include slide.html slide=3 %}
    <h4>Зв'язатися з нами</h4>
    <!-- Do not change the code! -->
    <a id="foxyform_embed_link_22289" href="http://ru.foxyform.com/">foxyform</a>
    <script type="text/javascript">
      (function(d, t){
         var g = d.createElement(t),
             s = d.getElementsByTagName(t)[0];
         g.src = "http://ru.foxyform.com/js.php?id=22289&sec_hash=63072510b50&width=350px";
         s.parentNode.insertBefore(g, s);
      }(document, "script"));
    </script>
    <!-- Do not change the code! -->
  </div>
</section>

<div id='footer'>
  <div class='container clearfix'>
    <div class='social-icons'>
      <a class='link icon-facebook' href='https://www.facebook.com' target='_blank'></a>
      <a class='link icon-vkontakte' href='https://www.vk.com' target='_blank'></a>
      <a class='link icon-twitter' href='https://twitter.com' target='_blank'></a>
    </div>
    <div class='copyright'>© 2016 ТОВ "Новий Рівень"</div><a class='button icon-angle-double-up' href='#'></a>
  </div>
</div>
