<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6">
        <div class="footer-content">
          +38 (098) 463 4306
          <br>+38 (067) 474 8810
          <br>ТОВ "Новий Рівень"
        </div>
      </div>
      <div class='col-lg-2 col-md-2 col-sm-2 col-xs-2'>
        <ul class="nav footer-content footer-nav">
          <li><a href="index.html">Головна</a></li>
          <li><a href="services.html">Послуги</a></li>
          <li><a href="price-list.html">Прейскурант</a></li>
          <li><a href="contacts.html">Контакти</a></li>
        </ul>
      </div>
      <div class='col-lg-2 col-md-2 col-sm-3 col-xs-4'>
        <button class="btn btn-social-icon btn-twitter">
          <span class="fa fa-twitter"></span>
        </button>
        <button class="btn btn-social-icon btn-facebook">
          <span class="fa fa-facebook"></span>
        </button>
        <button class="btn btn-social-icon btn-vk">
          <span class="fa fa-vk"></span>
        </button>
      </div>
    </div>
  </div>
</div>
