@media only screen and (min-width: 767px) and (max-width: 1023px) {

  .container { max-width: 767px; }
  .rating > label {
    font-size: 250%;
  }

}

@media only screen and (min-width: 480px) and (max-width: 766px) {

  .slide h1 { float: none; }

  ul.navigation {
    text-align: center;
    margin: 0;
    li a {
      padding: 12px 10px;
      font-size: 18px;
      span { font-size: 11px; }
    }
  }

  h3 { font-size: 10px; }

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12,
  .container {
    max-width: 480px;
  }
  .rating > label {
    font-size: 150%;
  }

}

@media screen and (max-width : 479px) {

  .slide h1 { float: none; }
  ul.navigation {
    text-align: center;
    li a {
      font-size: 28px;
      padding: 8px;
      span { display: none; }
    }
  }

  h4, h3 { font-size: 10px; }

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12,
  .container {
    max-width: 380px;
  }
  .rating > label {
    font-size: 130%;
  }
}

@media screen and (max-width : 320px) {

  .bordered:before, .bordered:after { display: none; }

  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12,
  .container {
    max-width: 285px;
  }
  .rating > label {
    font-size: 110%;
  }
}
