<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>{% t page.title %}</title>
    <meta name='description' content='Ремонт квартир Черкаси.
    Мы пропонуємо такі послуги: розробка дизайн-проекту, ремонтно-оздоблювальні роботи,
    закупівля будівельних матеріалів, комплектація меблями, обладнанням.'>
    <meta name='keywords' content='ремонт квартир черкаси, ремонт ванної кімнати, ремонт ванни,
    ремонт квартир фото, ремонт не дорого, якісний ремонт квартир, дизайн-проекти,
    інтер`єр квартир'>

    <link href='/../images/icon.png' rel='shortcut icon' type='image/png'>
    <link rel='stylesheet' href='{{ '/bower_components/slick-carousel/slick/slick.css' | prepend: site.baseurl_root }}'>
    <link rel='stylesheet' href='{{ '/bower_components/slick-carousel/slick/slick-theme.css' | prepend: site.baseurl_root }}'>
    <link rel='stylesheet' href='{{ '/bower_components/magnific-popup/dist/magnific-popup.css' | prepend: site.baseurl_root }}'>
    <link rel='stylesheet' href='{{ '/css/main.css' | prepend: site.baseurl_root }}'>
    <link rel='canonical' href='{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}'>
    <link rel='alternate' type='application/rss+xml' title='{{ site.title }}' href='{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}'>
    <script src='{{ '/bower_components/jquery/dist/jquery.min.js' | prepend: site.baseurl_root }}'></script>
    <script src='{{ '/bower_components/slick-carousel/slick/slick.min.js' | prepend: site.baseurl_root }}'></script>
    <script src='{{ '/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js' | prepend: site.baseurl_root }}'></script>
  </head>

  <body>
    <div class='main container'>
      <div class='menu container' id='navigation'>
        <img src='/images/icon.png' class='site-icon'></img>
        <ul class='navigation' id='nav'>
          <li>
            <a class='nav-item icon-home' href='#home'>
              <span>{% t nav.home %}</span>
            </a>
          </li>
          <li>
            <a class='nav-item icon-th-list' href='#services'>
              <span>{% t nav.services %}</span>
            </a>
          </li>
          <li>
            <a class='nav-item icon-folder-open' href='#works'>
              <span>{% t nav.works %}</span>
            </a>
          </li>
          <li>
            <a class='nav-item icon-book' href='#reviews'>
              <span>{% t nav.reviews %}</span>
            </a>
          </li>
          <li>
            <a class='nav-item icon-vcard' href='#contacts'>
              <span>{% t nav.contacts %}</span>
            </a>
          </li>
          <li>
            <a class='nav-item icon-feather' href='#contactus'>
              <span>{% t nav.contactus %}</span>
            </a>
          </li>
        </ul>
      </div>
      {{ content }}
    </div>
    <div>
      {% if site.lang == 'ru' %}
        {% capture ua %}{{ site.baseurl_root }}ua{{ page.url }}{% endcapture %}
        <a href='{{ ua }}'><img class='language-icon' src='/images/ua.png' /></a>
      {% elsif site.lang == 'ua' %}
        {% capture ru %}{{ site.baseurl_root }}{{ page.url }}{% endcapture %}
        <a href='{{ ru }}'><img class='language-icon' src='/images/ru.png' /></a>
      {% endif %}
    </div>
    <script src='/js/app.js'></script>
  </body>
</html>
